<h4 id="openAddFolder"><i id="addFolderOpenOrClosed" class="fa fa-caret-right fa-lg fa-fw" aria-hidden="true"></i>Add a folder</h4>
<div class="row">
  <div id="addAFolder" class="col-md-12">
    <div class="form-group">
      <input type="text" id="createFolderName" class="form-control" placeholder="Folder name">
    </div>
    <button type="submit" id="createFolder" class="btn btn-primary pull-right">Submit</button>
  </div>
</div>