<div class="text-center" id="dragDropZone">
  <h4>
    <span class="glyphicon glyphicon-upload" id="dragDropUpload" aria-hidden="true"></span><br>
    Drag and drop files to upload
  </h4>
  or <a class="fileinput-button" href="#">pick from file browser</a>
</div>

    <!-- The global file processing state -->
  <div class="fileupload-process">
    <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
      <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
    </div>
  </div>
