<div class="text-center" id="dragDropZone">
  <h4>
    <span class="glyphicon glyphicon-upload" id="dragDropUpload" aria-hidden="true"></span><br>
    Drag and drop files to upload
  </h4>
  or <a class="fileinput-button" href="#">pick from file browser</a>
</div>
<br>
