<div id="upload-progress-ui" class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Ready to upload the files below...</h4>
    </div>
    <div id="previews" class="row panel-body">
      <div id="template">
        <!-- This is used as the file preview template -->
          <div class="col-md-4">
          <p class="name" data-dz-name></p>
          <strong class="error text-danger" data-dz-errormessage></strong>
          <p class="size" data-dz-size></p>
          <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
          </div>
          <button data-dz-remove class="btn btn-danger delete">
            <i class="glyphicon glyphicon-trash"></i>
            <span>Cancel</span>
          </button>
          </div>
      </div>
    </div>
  </div>
</div>