

body {
  padding-top: 70px;
  font-family: 'Lato', sans-serif;
}


#folders {
  border-right: 2px solid #999;
}

#flashMessage, #upload-progress-ui, .folder-menu-ui, .file-menu-ui, #addAFolder, #upload-ui, #addFolderOpen {
  display: none;
}

#total-progress {
  opacity: 0;
}

a.no-decoration, a.no-decoration:hover {
  text-decoration: none;
  color: black;
}

.file, .preview-thumbnail, #closeFileDetail, #logout, .folder-menu, .file-menu, #openUpload, #openAddFolder, #deleteComment, #closeCommentsView {
  cursor: pointer;
}

.preview-iframe {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 800px) {
  #modal-preview .modal-dialog, #modal-preview .modal-content, #modal-preview .modal-body {
     width: 600px;
     height: 550px;
  }
}
@media (min-width: 1000px) {
  #modal-preview .modal-dialog, #modal-preview .modal-content, #modal-preview .modal-body {
     width: 850px;
     height: 750px;
  }
}
@media (min-width: 1200px) {
  #modal-preview .modal-dialog, #modal-preview .modal-content, #modal-preview .modal-body {
     width: 1150px;
     height: 950px;
  }
}

@media (min-width: 768px) {
.navbar-form {
  padding-top:5px;
}
}

/* navbar */
.navbar-default {
    background-color: #1992d4;
    border-color: #157cb5;
    font-family: 'Lato', sans-serif;
}

/* title */
.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}

.navbar-brand {
    float: left;
    height: 60px;
    padding: 10px 120px 5px 25px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-form .form-control {
  vertical-align: middle;
  border-radius: 2px;
}

.navbar-default .logout-link {
  padding-right: 50px;
  padding-top: 20px;
  color: #fff !important;
}


.iframe-box {
  height: 1020px;
  padding-top: 10px;
}

.download-button {
  display: none;
}

tr:hover .download-button {
  display: block;
  background-color: #f6fafd;
}

.file-row {
  height: 50px;
}

.table-hover > tbody > tr:hover {
  background-color: #f6fafd;
}

.file-row:hover td {
  color: #40758e;
}

.table > tbody + tbody {
  border-top: 0px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.btn {
  border-radius: 2px;
}

.btn-primary {
  background-color: #1992d4;
  border-color: #1992d4;
}

.overview-link {
  display: none;
  font-size: 14px;
  padding-left: 5px;
}

tr:hover .overview-link {
  display: inline-block;
}

tr:hover h4 {
  text-decoration: underline;
}

tr a {
  color: #333;
}


#dragDropUpload {
    font-size: 75px;
    padding-bottom: 10px;
}

#dragDropZone {
  padding: 10px 0px 20px;
  margin: 10px 15px;
  border-style: dashed;
  border-color: #999;
  border-radius: 5px;
}

.smaller {
  font-size: 15px;
  padding: 0px 5px;
}

.navText {
  vertical-align: middle;
}

.rfpTitles {
  font-weight: 900;
}

