<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<% include ../partials/nav %>

      <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
     
          <h3>Open RFPs</h3>
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>
                <% landingPageModel.rfpAndParent.forEach(function(obj) { %>
                <tr>
                  <td><h4 class="rfpTitles"><a href="<%= domain %>/item/<%= obj.parentId %>"><%= obj.name %></a><span class="glyphicon glyphicon-link overview-link"></span></h4>
                  <p><%= obj.description %></p></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>

</body>
</html>