<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<% include ../partials/nav %>

      <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
     
          <h1 class="sub-header">Open RFPs</h1>
          <div class="table-responsive">
            <table class="table table-hover">
<!--               <thead>
                <tr>
                  <th width="5%">File Type</th>
                  <th width="30%">File Name</th>
                  <th width="35%">Description</th>
                  <th>Updated </th>
                  <th>Size </th>
                </tr>
              </thead> -->
              <tbody>
                <tr>
                  <td><h4>HVAC Demo and Replacement - El Paso Gateway</h4><p>Req. Number: 405-17-B002391, Open Date(Submit By): 2016-11-17 13:00:00.0, Agency Number: 405, Creation Date: 2016-10-26 15:38:02.037, Last Update: 2016-10-26 15:38:02.037, Class-Item: 910 - 36</p></td>
                  <td><button>Submit</button></td>
                </tr>
                <tr>
                  <td><h4>General Archeological Services (577SA001-2659)</h4><p>Req. Number: 405-17-B002391, Open Date(Submit By): 2016-11-17 13:00:00.0, Agency Number: 405, Creation Date: 2016-10-26 15:38:02.037, Last Update: 2016-10-26 15:38:02.037, Class-Item: 910 - 36</p></td>
                </tr>
                <tr>
                  <td><h4>Transmission Electron Microscope</h4><p>Req. Number: 405-17-B002391, Open Date(Submit By): 2016-11-17 13:00:00.0, Agency Number: 405, Creation Date: 2016-10-26 15:38:02.037, Last Update: 2016-10-26 15:38:02.037, Class-Item: 910 - 36</p></td>
                </tr>
                <tr>
                  <td><h4>The University of Texas at Austin - Creekside Residence Hall</h4><p>Req. Number: 405-17-B002391, Open Date(Submit By): 2016-11-17 13:00:00.0, Agency Number: 405, Creation Date: 2016-10-26 15:38:02.037, Last Update: 2016-10-26 15:38:02.037, Class-Item: 910 - 36</p></td>
                </tr>
                <tr>
                  <td><h4>DM FY16 PE Replace AHU #30 and Any Related Work (PP-21608070)</h4><p>Req. Number: 405-17-B002391, Open Date(Submit By): 2016-11-17 13:00:00.0, Agency Number: 405, Creation Date: 2016-10-26 15:38:02.037, Last Update: 2016-10-26 15:38:02.037, Class-Item: 910 - 36</p></td>
                </tr>
                <tr>
                  <td><h4>LOCAL LET MAINTENANCE CONTRACT, WEBB CO, INSTALL TRAFFIC SIGNALS, FLASHING BEACONS, PVT MAR</h4><p>Req. Number: 405-17-B002391, Open Date(Submit By): 2016-11-17 13:00:00.0, Agency Number: 405, Creation Date: 2016-10-26 15:38:02.037, Last Update: 2016-10-26 15:38:02.037, Class-Item: 910 - 36</p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

</body>
</html>