<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<% include ../partials/scripts %>

  <script src="https://cdn.auth0.com/js/lock/10.4/lock.min.js"></script>
  <div id="root" style="width: 280px; margin: 40px auto; padding: 10px;"></div>
  <script type="text/javascript">
    var lock = new Auth0Lock('<%= env.AUTH0_CLIENT_ID %>', '<%= env.AUTH0_DOMAIN %>',
    {
      additionalSignUpFields: [
        {
          name: "Company",
          placeholder: "Enter your company's name"
        },
        {
          name: "FirstName",
          placeholder: "Please enter your first name"     
        },
        {
          name: "LastName",
          placeholder: "Please enter your last name"     
        }
      ],
      auth: {
        redirectUrl: '<%= env.AUTH0_CALLBACK_URL %>',
        responseType: 'code',
        params: {
          scope: 'openid email user_metadata app_metadata picture'
        }
      }
    });
    lock.show();
  </script>
  <div id="root" style="width: 280px; margin: 40px auto; padding: 10px;"></div>
</body>

</html>