<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<% include ../partials/nav %>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
 		
 		<div class="row">
 			<div class="col-md-8">
 				<h1 class="sub-header"><%= title %> Overview</h1>
 			</div>
 		</div>
		

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th width="50%">File Name</th>
						<th width="25%">Updated</th>
						<th width="15%">Size</th>
						<th width="10%"></th>
					</tr>
			 	</thead>
				<tbody>
					<tr class="file-row">
				  		<td>package1.zip</td>
				  		<td>Today</td>
				  		<td>5 mb</td>
				  		<td><button class="btn btn-default btn-sm download-button pull-right" type="submit"><span class="glyphicon glyphicon-download"></span></button></td>
					</tr>
					<tr class="file-row">
				  		<td>package2.zip</td>
				  		<td>Today</td>
				  		<td>35 mb</td>
				  		<td><button class="btn btn-default btn-sm download-button pull-right" type="submit"><span class="glyphicon glyphicon-download"></span></button></td>
					</tr>
					<tr class="file-row">
				  		<td>package3.zip</td>
				  		<td>Today</td>
				  		<td>16 mb</td>
				  		<td><button class="btn btn-default btn-sm download-button pull-right" type="submit"><span class="glyphicon glyphicon-download"></span></button></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-6">
				<p class="pull-right">
					<button class="btn btn-default" type="submit">Download All Files</button>
					<button class="btn btn-default btn-primary" type="submit">Apply</button>
				</p>
			</div>
		</div>

	</div>
</div>


<div class="row">
	<div class="col-md-8 col-md-offset-2 iframe-box"></div>
</div>

</body>